.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.search-section::after,
.footer::before {
  content: "";
  display: block;
  border-bottom: 1px solid var(--main-light);
  margin: 10px 0;
}

.trigger-error-button {
  position: absolute;
  left: 10px;
  top: 10px;
  height: 30px;
}

.result-section-with-detail {
  display: flex;
  gap: 10px;
  flex-grow: 1;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 5px;
}
