.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.search-section::after,
.footer::before {
  content: "";
  display: block;
  border-bottom: 1px solid var(--main-light);
  margin: 10px 0;
}

.trigger-error-button {
  position: absolute;
  left: 10px;
  top: 10px;
  height: 30px;
}

.loader-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--accent-blue);
  -webkit-mask: var(--loader-mask);
  mask: var(--loader-mask);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: loader 1s infinite linear;
}

.result-section-with-detail {
  display: flex;
  gap: 10px;
  flex-grow: 1;
}

@keyframes loader {
  to {
    transform: rotate(1turn);
  }
}
