.nav {
  display: flex;
  justify-content: center;
}

.navigation {
  display: flex;
  gap: 20px;
}

.side-section {
  width: 300px;
  height: 90%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.dark .side-section {
  border: var(--main-light) solid 1px;
}

.light .side-section {
  border: var(--main-dark) solid 1px;
  background-color: var(--transparent-light);
}

.close-button {
  width: 100px;
  position: relative;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 8px;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.dark .close-button {
  color: var(--main-light);
  border: 1px solid var(--main-light);
}

.light .close-button {
  color: var(--main-dark);
  border: 1px solid var(--main-dark);
}

@media (hover: hover) {
  .close-button:hover {
    background-color: var(--main-buttons);
    color: #000000;
  }
}
