.main {
  flex-grow: 1;
}

.hr-line {
  width: 100%;
  height: 1px;
  background-color: var(--main-light);
  margin: 10px 0;
}

.results-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 20px;
}

.trigger-error-button {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 30px;
}
