.results {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  margin: 0;
  gap: 50px;
}

.results li {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.film-title__text,
.film-date__text,
.film-description__text {
  font-weight: 500;
  color: var(--accent-blue);
}

.film-title__item,
.film-date__item,
.film-description__item {
  font-weight: 300;
  color: var(--main-light);
}

.film-description__item {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
